<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Displaying tasks</div>
    <ul>
        {{#each tasks}}
        <li>{{this.name}} </li>
        <li>{{this.email}} </li>
        {{/each}}
    </ul>
</body>
</html>