<!DOCTYPE html> 
<html> 
<head> 
	<title> Login Form</title> 
		
		
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	 
		
<link rel="stylesheet" type="text/css" href="../../public/css/main.css"> 
		
</head> 
<body> 
	
	<br> 
	<br> 
	<br> 
	<div class="container" > 
		<div class="row"> 
		<div class="col-md-3"> 
					
		</div> 
				
		<div class="col-md-6 main"> 
					
						{{#each task}}	
			<form action="/tasks/update/{{id}}" method="post"> 
					
			<h1> Update Your Task </h1> 
			<input class="box" type="text" name="task" id="task"
			placeholder="Add Task" value="{{ this.task }}" /><br> 
							
						<br> 
			<input class="box" type="text" name="status" id="status"
			placeholder="status" value="{{ this.status }}" /><br> 
							
						<br> 
			<input class="box" type="text" name="label" id="label"
			placeholder="label" value="{{ this.label }}" /><br> 
							
						<br> 
			<button type="submit">Submit</button>
			</form> 
					
					{{/each}}
		</div> 
				
				
		<div class="col-md-3"> 
		</div> 
				
	</div> 
	</div> 
	  {{>footer}}
</body> 
</html>	 
